<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>FakeWeb</string>
	<key>uuid</key>
	<string>0E36DA93-753F-4D3E-9F23-85E0278E6F96</string>
</dict>
</plist>
